@model IEnumerable<NguyenThanhQuangBigSchool.Models.Coures>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<ul class="course">
    @foreach (var coures in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @coures.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @coures.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    @coures.Lecturer.Name
                </span>
                <span class="category">
                    @coures.Category.Name
                </span>
            </div>
            <div class="action">
                <a href="@Url.Action("Edit","Courses",new { id=coures.Id})">Edit</a>
                <a href="#" class="js-cancel-course" data-course-id="@coures.Id">Cancel</a>
            </div>

        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-cancel-course").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm({
                    title: "Cancel Course?",
                    message: "Are you sure to cancel?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-chek"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/courses" + link.attr("data-course-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    link.parents("li").fadeOut(function () {
                                        $(this).remove();
                                    });
                                })
                                .fail(function () {
                                    alert("Something failes!");
                                });
                        }
                    }
                });
            });
        });
    </script>
}